In [285]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
import time
import datetime as dt
import pprint

In [286]:
#FOR WINDOWS USERS
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [287]:
### NASA Mars News
#* Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/) 
#  and collect the latest News Title and Paragraph Text. Assign the 
#  text to variables that you can reference later.

In [288]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [289]:
html = browser.html
#print (html)

In [290]:
soup = bs(html, "html.parser")

In [291]:
nasa_news1 = soup.find("li", class_="slide")
#print(news1)

In [292]:
news_title1 = nasa_news1.find("div", class_='content_title').get_text()
print (news_title1)

What's Mars Solar Conjunction, and Why Does It Matter?

In [293]:
nasa_body1 = nasa_news1.find("div", class_="article_teaser_body").get_text()
print (nasa_body1)

NASA spacecraft at Mars are going to be on their own for a few weeks when the Sun comes between Mars and Earth, interrupting communications.

In [ ]:
# 2 ---- JPL Mars Space Images - Featured Image
#* Visit the url for JPL Featured Space Image [here](https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars).
#* Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called `featured_image_url`.
#* Make sure to find the image url to the full size `.jpg` image.
#* Make sure to save a complete url string for this image.

In [303]:
html_JPL = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(html_JPL)

In [304]:
#CLICK for full image
#browser.find_by_id('full_image').click()
browser.click_link_by_partial_text("FULL IMAGE")
time.sleep(3)
image1 = browser.html

In [305]:
soupImage = bs(image1, "html.parser")

In [306]:
#imagelink = soupImage.find("img", class_="fancybox-image")
imagelink = soupImage.find("img", class_="fancybox-image")['src']

print (imagelink)
completelink = "www.jpl.nasa.gov" + imagelink
print(completelink)

/spaceimages/images/mediumsize/PIA14400_ip.jpg
www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA14400_ip.jpg

In [307]:
### ---- 3 ----Mars Weather

#* Visit the Mars Weather twitter account [here](https://twitter.com/marswxreport?lang=en) 
# and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather 
# report as a variable called `mars_weather`.

In [308]:
html_MW = "https://twitter.com/marswxreport?lang=en"
browser.visit(html_MW)
htmlMW = browser.html
#print (htmlMW)

In [309]:
MWsoup = bs(htmlMW, "html.parser")
#print (MWsoup)

In [310]:
tweet1 = MWsoup.find("div", class_="js-tweet-text-container")
print (tweet1)

<div class="js-tweet-text-container">
<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 261 (2019-08-21) low -102.4ºC (-152.4ºF) high -26.6ºC (-15.8ºF)
winds from the SSE at 4.9 m/s (11.0 mph) gusting to 16.0 m/s (35.8 mph)
pressure at 7.70 hPa<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/MhPPOHJg3m">pic.twitter.com/MhPPOHJg3m</a></p>
</div>

In [311]:
mw = tweet1.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").get_text()
print (mw)

InSight sol 261 (2019-08-21) low -102.4ºC (-152.4ºF) high -26.6ºC (-15.8ºF)
winds from the SSE at 4.9 m/s (11.0 mph) gusting to 16.0 m/s (35.8 mph)
pressure at 7.70 hPapic.twitter.com/MhPPOHJg3m

In [312]:
### ---- 4 ---- Mars Facts
#* Visit the Mars Facts webpage [here](https://space-facts.com/mars/) and 
#  use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
#* Use Pandas to convert the data to a HTML table string.

In [313]:
html_MF = "https://space-facts.com/mars/"
browser.visit(html_MF)
htmlMF = browser.html
soupMF = bs(htmlMF, "html.parser")

In [314]:
table1 = soupMF.find("table", id="tablepress-p-mars")
#print (table1)

In [315]:
tables = pd.read_html(html_MF)
#print(tables)

In [175]:
mars_data = tables[1]

In [316]:
mars_data.rename(columns={0: 'Metric', 1: 'Mars'}, inplace=True)
mars_data1 = mars_data.set_index("metric")
mars_data1

                                               Mars
metric
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [317]:
mars_html_table = mars_data.to_html()
print (mars_html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>metric</th>
      <th>Mars</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [318]:
### ----5 ---- Mars Hemispheres

#* Visit the USGS Astrogeology site 
# [here](https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars) 
# to obtain high resolution images for each of Mar's hemispheres.
#* You will need to click each of the links to the hemispheres in order to find the image url to the 
#  full resolution image.
#* Save both the image url string for the full resolution hemisphere image, 
#  and the Hemisphere title containing the hemisphere name. Use a Python dictionary to 
#  store the data using the keys `img_url` and `title`.
#* Append the dictionary with the image url string and the hemisphere title to a list. 
#  This list will contain one dictionary for each hemisphere.

In [323]:
html_AS = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(html_AS)
htmlAS = browser.html
soupAS =bs(htmlAS, 'html.parser')
divima = soupAS.find_all("div", class_="item")
#print (divima)
#browser.click_link_by_partial_text("Cerberus")

In [324]:
hemispheres_list = ["Cerberus", "Schiaparelli", "Syrtis", "Valles"]
hemisphere_image_urls = []

In [325]:
for item in hemispheres_list:
    h = {}
    browser.click_link_by_partial_text(item)
    itemhtml = browser.html
    x = input(item)
    soup1 = bs(itemhtml, "html.parser")
    urlimg = soup1.find("img", class_="wide-image")["src"]
    fullurl = "https://astrogeology.usgs.gov/" + urlimg
    #print (fullurl)
    title = cerberus_title = soup1.find("h2", class_="title").get_text()
    h = {"img_url":fullurl, "title":title}
    hemisphere_image_urls.append(h)

Cerberus
Schiaparelli
Syrtis
Valles

In [326]:
pprint.pprint (hemisphere_image_urls)

[{'img_url': 'https://astrogeology.usgs.gov//cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astrogeology.usgs.gov//cache/images/0eb84c5fa8ded69d32e9f213497a1960_schiaparelli_unenhanced.tif_full.jpg',
  'title': 'Schiaparelli Hemisphere Unenhanced'},
 {'img_url': 'https://astrogeology.usgs.gov//cache/images/4951731d09d453e340fccf70e43c5933_syrtis_major_unenhanced.tif_full.jpg',
  'title': 'Syrtis Major Hemisphere Unenhanced'},
 {'img_url': 'https://astrogeology.usgs.gov//cache/images/8981a6d7057a7634dc312c0448f462c1_valles_marineris_unenhanced.tif_full.jpg',
  'title': 'Valles Marineris Hemisphere Unenhanced'}]